body {
	font-family: 'Roboto', sans-serif;
}
footer {
	padding: 15px;
    letter-spacing: 1px;
    margin: 20px auto 0 auto;
    text-align: center;
    border-top: 2px solid #f1f1f1;
}
footer p {
    display: inline-block;
}
button.close {
	outline: none !important;
	position: absolute;
    color: #fff !important;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 49%;
    right: 10px;
    z-index: 444;
    top: 10px;
    padding: 5px 10px;
    font-size: 23px;
    user-select: none;
}
button.close:hover {
	background: rgba(17, 17, 17, 0.5);
}
.thumbnail {
	padding: 15px;
	border: 0;
	margin-bottom: 0;
}
.thumbnail a {
	display: block;
    position: relative;
}
.modal {
	padding-right: 0 !important;
	background: rgba(0, 0, 0, 0.7);
}
.modal-open .modal {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 102%;
}
.modal-dialog {
	width: fit-content;
	margin-top: 20px;
}
.modal .thumbnail {
	padding: 0;
	overflow: hidden;
}
.blockquote {
    margin-top: 30px;
    border-left: 5px solid #FF5722;
}
.imageCaption {
	position: absolute;
    bottom: 0;
    background: rgba(16, 16, 16, 0.76);
    display: inline-block;
    color: #fff;
    width: 100%;
    padding: 5px 17px;
    transition: 0.3s ease;
    transform: translate(0, 105%);
}
.imageLink {
	overflow: hidden;
}
.imageLink:hover .imageCaption {
    transform: translate(0, 0);
}
.imageLink .hearts {
	display: none;
}
.imageLink .views {
	margin-left: 5px;
}
.imageFull {
	max-height: 97vh;
	user-select: none;
}
.imageCaptionFull {
	z-index: 444;
	padding: 20px 30px;
    font-size: 17px;
    transform: translate(0, 0);
}
.imageCaptionFull .pull-right {
	font-size: 20px;
}
.imageCaptionFull .pull-right span:nth-of-type(3) {
	margin-left: 15px;
}
.imageCaptionFull .pull-left {
	color: #d6d6d6;
}
.hideCaption {
	position: absolute;
    border-radius: 0 0 0 30px;
    top: 0;
    right: 0;
    text-align: center;
    background: #232323;
    color: white;
    z-index: 555;
    width: 49px;
    display: block;
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}
.moveCaption {
	transform: translate(0, 100%) !important;
}
.moveCaption .hideCaption {
	transform: rotate(180deg);
	border-radius: 0 0 30px 0;
	top: -47px;
}
.glyphicon-heart {
	color: #cd5c5c;
}
.glyphicon-eye-open {
	color: #d2d2d2;
}

/* MEDIA QUERIES */
@media(max-width: 460px) {
	.imageCaptionFull .pull-right {
		width: 100%;
		display: block;
		font-size: inherit;
		float: left !important;
	}
	.imageCaptionFull {
    	padding: 5px 20px; 
    	font-size: inherit; 
	}
	.titleFull {
		margin-top: 5px;
	}
}    